.container {
  position: relative;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
}

.stats {
  padding: 30px;
  flex-basis: 25%;

  h3 {
    margin-bottom: 30px;
    color: hotpink;
  }

  h4 {
    margin-bottom: 20px;
    color: deepskyblue;
  }
}

.progressContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  & > span:last-child {
    margin-left: auto;
  }
}

.journey {
  position: relative;
  flex-basis: 75%;
  background: url("../public/journey-background3.png") no-repeat;
  background-size: cover;

  & img {
    height: 150px;
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(-50%);
  }
}

.info {
  padding: 20px 30px;
  position: absolute;
  top: 40px;
  right: 0;
  text-align: right;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.loaderBar {
  width: 150px;
  display: grid;
  grid-template-columns: repeat(3,6px) repeat(10, 8px 6px) repeat(2,6px);
  grid-template-rows: repeat(6,6px);

  &:last-child {
    margin-bottom: 50px;
  }
}

.blockBorder {
  background-color: rgb(50,50,50);
}

.blockBorder:nth-of-type(1) {
  grid-row: 1;
  grid-column: 3/-3;
}

.blockBorder:nth-of-type(2) {
  grid-row: -2;
  grid-column: 3/-3;
}

.blockBorder:nth-of-type(3) {
  grid-row: 3/5;
  grid-column: 1;
}

.blockBorder:nth-of-type(4) {
  grid-row: 3/5;
  grid-column: -2;
}

.blockBorder:nth-of-type(5) {
  grid-row: 2;
  grid-column: 2;
}

.blockBorder:nth-of-type(6) {
  grid-row: 2;
  grid-column: -3;
}

.blockBorder:nth-of-type(7) {
  grid-row: 5;
  grid-column: 2;
}

.blockBorder:nth-of-type(8) {
  grid-row: 5;
  grid-column: -3;
}

.blockMeter {
  grid-column: 3/24;
  grid-row: 3/5;
}

.progress {
  height: 100%;
}

.dialog {
  background-color: white;
  color: black;
  line-height: 1.5;
  padding: 20px 30px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  & h3 {
    color: deepskyblue;
    margin-bottom: 15px;
  }

  & .inputContainer {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    & > label {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      margin-bottom: 15px;
    }
  }

  & input {
    height: 15px;
    min-width: 15px;
    width: 15px;
    margin-right: 10px;
  }

  & .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  & .button {
    padding: 8px 12px;
    background-color: deepskyblue;
    color: white;
    border-radius: 4px;

    &.grayedOut {
      background-color: grey;
    }
  }
}
