@import "~ress";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
}

body {
  background: url("../public/background.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  background-color:black;
  position:fixed;
  left: 0;
  right: 0;
  height: 60px;
  display:flex;
  align-items:center;
  padding-left:20px;
  z-index: 10;

  > h1 {
   color : white;
  }
}
