.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0 100px;

  background: rgb(255, 255, 255, 0.5);
  min-width: 1000px;
  h3 {
    padding: 40px 0;
    text-align: center;
    align-self: center;
  }
}

.resources-container {
  padding: 20px 50px;
  background: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
}

.resource label {
  display: inline-block;
  width: 300px;
}

.resource {
  align-items: center;
  display: flex;
  margin: 5px 0;
  font-size: 13px;
}

.basic-resource {
  width: 100px;
  border-radius: 5px;
  background-color: transparent;
  height:30px;
  padding: 10px;
  border-style: none;
  background-image:url("../public/input.png");
  background-size: 100px 30px;
}

.misc-resource {
  width: 20px;
}

.dotted-underline {
  flex: 1;
  border-bottom: 1px black dashed;
  margin: 10px 10px 0;
}

.resource-picker {
  margin-left: 50px;
}

.totals {
  display: flex;

  :nth-child(1) {
    width: 350px;
  }

  :nth-child(2) {
    flex: 1;
  }
}

.separator {
  display: block;
  border-bottom: 2px solid black;
  margin: 20px 0;
}

.start {
  cursor: pointer;
  margin: 20px 0;
  align-self: flex-end;
}
